<%= form_with(model: @room, url: campu_rooms_path, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :room_nombre %>
  </div>

  <div class="field">
    <%= form.label :ubicacion %>
    <%= form.text_area :ubicacion, id: :room_ubicacion %>
  </div>


  <div class="actions">
    <%= form.submit "Crear Sala"%>
  </div>
<% end %>
